body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px 20px 40px 20px;
}

.special {
     border: 4px solid #F08;
     border-radius: 8px;
     display: inline-block;
     padding: 8px;
     background: #809;
     color: white;
     font-family: sans-serif;
     font-weight: bold;
}

.errors {
    border: 1px solid #F9c;
    border-radius: 8px;
    margin: 8px 0;
    padding: 6px;
    background: #fee;
}
